<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Gimnasios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card>
  <img src="/assets/img/LogoInfinity.jpg" alt="ion" style="height: 150px;width: 150px;text-align: center" >
  <ion-card-header>
    <ion-card-title>Infinity Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button routerLink="/detalle-infinity-gyn">
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
   
    </ion-row>
  </ion-footer>
</ion-card>

 <ion-card>
  

  <img src="/assets/img/LogoCross.png" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Cross Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
    
      <ion-col center text-center>
        <button routerLink="/detalle-cross-gym">
          <ion-icon name="newspaper-outline" ></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
  
    </ion-row>
  </ion-footer>
</ion-card>

<ion-card>
  
  <img src="/assets/img/PalermoGym.jpg" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Palermo Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button routerLink="/detalle-palermo-gym">
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
    
    </ion-row>
  </ion-footer>
</ion-card>
<ion-card>
  
  <img src="/assets/img/LogoCarento.png" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Carento Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
     
    </ion-row>
  </ion-footer>
</ion-card>
<ion-card>  
  <img src="/assets/img/Ribereña.jpeg" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Atletas Progreseños</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>

<ion-card>  
  <img src="/assets/img/MusleGym.jfif" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Muscle Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>

<ion-card>  
  <img src="/assets/img/Ribereña.jpeg" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Gimnasio Municipal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>

<ion-card>  
  <img src="/assets/img/NuevaImagen.jfif" alt="ion" style="height: 150px;width: 150px;text-align: center" >

  <ion-card-header>
    <ion-card-title>Gimnasio Nueva Imagen</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Tenemos las mejores opciones.
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>
</ion-content>


