<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Gimnasios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <ion-card  *ngFor="let item of detalle">

  <img  [src]="item.logo" alt="ion" style="height: 150px;width: 150px;text-align: center" >
  <ion-card-header>
    <ion-card-title>{{item.nommbreGimnasio}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.slogan}}
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button routerLink="/detalle-infinity-gyn" [queryParams]="{IdGimnasio: item.id_Gimnasio}">
          <ion-icon name="newspaper-outline"></ion-icon>
          <div>Detalles</div>
        </button>
      </ion-col>
   
    </ion-row>
  </ion-footer>
</ion-card>

</ion-content>


