<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >rutina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesos"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content color="Light">

  <ion-list  >
    <ion-list-header style="text-align: center;">
     <h3 >Detalle</h3> 
    </ion-list-header>
  
    <ion-item *ngFor="let item of detalle">
      <ion-avatar slot="start">
        <img [src]="item.imagen">
      </ion-avatar>
      <ion-label>
        <h2>{{item.nombre}}</h2>        
        <p>{{item.instruccion}}</p>
      </ion-label>
    </ion-item>
  
  
  </ion-list>
  
  </ion-content>


