<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Crear Gimnasio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del Gimnasio</ion-label>
    <ion-input type="text"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Hola Inicial</ion-label>
      <ion-input type="text"></ion-input>
       </ion-item>
       <ion-item>
        <ion-label position="floating">Hora final</ion-label>
        <ion-input type="dateTime"></ion-input>
         </ion-item>
       <ion-item>
          <ion-label position="floating">Contacto</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Detalle Lugar</ion-label>
          <ion-input type="text"></ion-input>
           </ion-item>
         <ion-item>
            <ion-label position="floating">Nombre Administrador</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Slogan</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Logo</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-button expand="block">Guardar</ion-button>
</ion-content>
