<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >Procesos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/img/as.png" alt="" id="Fondo" >
  <br/> <br/> <br/>
  <div id="contenedor">  
<ion-grid fixed>


  <ion-row>
    <ion-col col-6>    
        <img src="/assets/icon/BICEPS.png" style="width: 90px; height:90px;" id="Fondo" routerLink="rutina-bicep" >
        <h4 style="text-align: center;">Bicep</h4>    
    </ion-col>
    <ion-col col-6>    
      <img src="/assets/icon/ESPALDA.png" style="width: 90px; height:90px;"  id="Fondo" routerLink="rutina-espalda">
      <h4 style="text-align: center;">Espalda</h4>    
  </ion-col>
  <ion-col col-6>    
    <img src="/assets/icon/PECHO.png" style="width: 90px; height:90px;"  id="Fondo" routerLink="rutina-pecho" >
    <h4 style="text-align: center;">Pecho</h4>    
</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>    
        <img src="/assets/icon/TRICEPS.png" style="width: 90px; height:90px;" id="Fondo" >
        <h4 style="text-align: center;">Tricep</h4>    
    </ion-col>
    <ion-col col-6>    
      <img src="/assets/icon/HOMBROS.png" style="width: 90px; height:90px;"  id="Fondo" >
      <h4 style="text-align: center;">Hombros</h4>    
  </ion-col>
  <ion-col col-6>    
    <img src="/assets/icon/PIERNAS.png" style="width: 90px; height:90px;"  id="Fondo" >
    <h4 style="text-align: center;">Piernas</h4>    
</ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
