<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Rutinas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/img/as.png" alt="" id="Fondo" >
  <br/> <br/> <br/>
  <div id="contenedor">  
<ion-grid  >
  <ion-row class="row"> 
  <ion-col  *ngFor="let item of detalle" size="4" text-center>
        
    <ion-card class="card" routerLink="rutina-bicep"  padding  text-center>
      <div class="center-card">
      <img class="EmpresaImage" [src]="item.logo">
     </div>
     <div class="center-card">
      <h2 style="font-size: 1rem"> {{item.descripcion}}
      </h2>
      </div>
    </ion-card>
  
</ion-col>
</ion-row>
</ion-grid>
</div>
</ion-content>
