<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >rutina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesos"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content color="Light">

  <ion-list>
    <ion-list-header style="text-align: center;">
     <h3 >Hombros trapecio</h3> 
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/arnold-press.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Press Arnold con mancuernas</h2>
        
        <p>Repeticion 12x5</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/press-cuello.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Press transnuca</h2>   
        <p>12x4</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/lateraHom.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Elevado frontal</h2>     
        <p>12x4</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/pajaro.jpg">
      </ion-avatar>
      <ion-label>
        <h2>pajaros</h2>     
        <p>4×15</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/pressMilitar.jfif">
      </ion-avatar>
      <ion-label>
        <h2>Press militar sentado</h2>     
        <p>4×15</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/encogimiento.jfif">
      </ion-avatar>
      <ion-label>
        <h2>Encogimiento de hombro</h2>     
        <p>con barra</p>
        <p>4x12</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/remoAlMenton.jfif">
      </ion-avatar>
      <ion-label>
        <h2>Remo al menton</h2>   
        <p>4x12</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  </ion-content>

