<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Grupo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Entrenadores 
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>Almilcar</h2>
        <h3>Fisiculturista</h3>
        <p>Rutinas</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>Viviana</h2>
        <h3>Nutricionista</h3>
        <p>Rutina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>Josue</h2>
        <h3>Entrenador</h3>
        <p>Rutina</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>Cristian</h2>
        <h3>Entrenador</h3>
        <p>Rutina</p>
      </ion-label>
    </ion-item>
  </ion-list>

 
</ion-content>