<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Grupo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
  <ion-list>
    <ion-list-header>
      Entrenadores 
    </ion-list-header>

    <ion-item *ngFor="let item of detalle">
      <ion-avatar slot="start">
        <img src="/assets/avatars/logo.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.nombreEntrenador}}</h2>
        <h3>{{item.telefono}}</h3>
        <h3>Fisiculturista</h3>
        <p>Rutinas</p>
      </ion-label>
    </ion-item>

  </ion-list>

</div>
</ion-content>