
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align-last: center;">FytGym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides class="mainSlide" #sLidePrincipal>    
    <ion-slide>

      <form [formGroup]="loginForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
            
             <img src="/assets/avatars/logo.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Usuario</ion-label>
                    <ion-input formControlName="user"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input formControlName="password"></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          (click)="login()" [disabled]="loginForm.invalid"
                          shape="round">
                          
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>

            <ion-row>
            <ion-col>
                <h3>FytGym</h3>
            </ion-col>
            </ion-row>

            <ion-row>
            <ion-col>
                <ion-slides>
                <ion-slide *ngFor="let avatar of [1,1,1,1,1,1,1]">
                    <ion-img class="pick-avatar" 
                            src="/assets/avatars/deportista.png"></ion-img>
                </ion-slide>
                </ion-slides>
            </ion-col>
            </ion-row>
        
            <form [formGroup]="RegisterForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item>
                            <ion-label>Email</ion-label>
                            <ion-input></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-label>Nombre</ion-label>
                            <ion-input formControlName="user"></ion-input>
                            </ion-item>

                            <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input  formControlName="password"></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary"
                      (click)="mostrarLogin()"
                      >                    
                      
                    
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary"
                    (click)="mostrarRegisto()"
                   >
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>