<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >rutina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesos"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content color="Light">

  <ion-list>
    <ion-list-header style="text-align: center;">
     <h3 >Piernas/Gluteos</h3> 
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/sentadilla.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Sentadillas</h2>
        <p>Series 6</p>
        <p>Repeticion 8-12</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/hip-thrust.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Hip Thrust</h2>
        <p>Series 6</p>   
        <p>Repeticiones 8-12</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/zancada.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Zancadas</h2>   
        <p>Series 3</p>  
        <p>Repeticiones 10</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/prensa.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Prensa</h2>
        <p>Series 3</p>     
        <p>Repeticiones 16</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/PGemelos.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Elevaciones con gemelos</h2>     
        <p>3×16</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/bulgara.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Sentadilla bulgara</h2>   
        <p>4x12</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/piernas-puente.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Puente de cadera</h2>   
        <p>4x12</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  </ion-content>
