<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>InFinyGym</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gimnasios"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
 <ion-card-header>
      detalles
    </ion-card-header>
 <ion-card-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/avatars/logo.png">
    </ion-avatar>
    <ion-label>
      <h3>Luis Inestroza</h3>
      <p>Enero 10, 2019</p>
    </ion-label>
  </ion-item>

  <img src="/assets/img/logoinf.jpg" alt="ion">
  <ion-card-header>
    <ion-card-title>Infinity Gym</ion-card-title>
  </ion-card-header>
  <ion-card-content>

  <ion-text color="dark">
  <h5>   Tenemos la maquinaria moderna , Entrenadores calificados con nutricionista profesional</h5>
</ion-text>
 
  </ion-card-content>

  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="call" (click)="Contactos()"></ion-icon>
          <div>Contactos</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button>
          <ion-icon name="alarm" (click)="presentAlert()"></ion-icon>
          <div>Horarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button>
          <ion-icon name="time" (click)="openModal()"></ion-icon>
          <div>Registrarse</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button>
          <ion-icon name="cash" (click)="Membresia()"></ion-icon>
          <div>Membresia</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
    </ion-card-content>
</ion-card>
<ion-card>
 <ion-card-content>  
  <ion-card-content>
     <ion-text color="dark">
  <h5> Ubicados en la esquina opuesta de la sirena enfrente de la universidad ucrish</h5>
</ion-text>
  
  </ion-card-content>

 
    </ion-card-content>
</ion-card>
</ion-content>