<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >rutina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesos"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content color="Light">

<ion-list>
  <ion-list-header style="text-align: center;">
   <h3 >Pecho</h3> 
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/avatars/pecho.png">
    </ion-avatar>
    <ion-label>
      <h2>Press de banca inclinado</h2>
      
      <p>Repeticion 3x5,15,12,10,8</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/avatars/pecho.png">
    </ion-avatar>
    <ion-label>
      <h2>flexiones con peso</h2>   
      <p>3×6-8 hasta el fallo en todas</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/avatars/pecho.png">
    </ion-avatar>
    <ion-label>
      <h2>Press de banca con agarre cerrado</h2>     
      <p>3×10-12</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/avatars/pecho.png">
    </ion-avatar>
    <ion-label>
      <h2>polea doble</h2>     
      <p>3×15</p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>