<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Registrar Membresia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Detalle Membresia</ion-label>
    <ion-input type="text"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="text"></ion-input>
       </ion-item>
  
     
          <ion-button expand="block">Guardar</ion-button>
</ion-content>
