
//ion-content, ion-header {
    //--background: #0f94ec;
    //--background: linear-gradient(100deg, #10d4f6, #54f4fa);
    //--background: #5260ff;
    //--background: url(../../../assets/garage-background.jpg) 0 0/100% 100% no-repeat;
//}
#image {
    text-align: center;
}

img {
    height: 100%;
    min-width: auto;
    max-width: unset;
    text-align: center;
}