<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  >rutina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesos"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content color="Light">

  <ion-list>
    <ion-list-header style="text-align: center;">
     <h3 >Triceps</h3> 
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/flexionesTriceps.gif">
      </ion-avatar>
      <ion-label>
        <h2>flexiones con mano juntas</h2>
        
        <p>Repeticion 12x5</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/triceps-mancuernas.gif">
      </ion-avatar>
      <ion-label>
        <h2>Extensiones de pie con mancuernas</h2>   
        <p>12x4</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/trx.gif">
      </ion-avatar>
      <ion-label>
        <h2>Extensiones en TRX</h2>     
        <p>12x4</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/triceps.gif">
      </ion-avatar>
      <ion-label>
        <h2>Extensiones con mancuerna en banco</h2>     
        <p>4×15</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/mancuernas-banco.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Press frances con mancuernas</h2>     
        <p>4×15</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/avatars/mancuernas-banco.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Flexiones con mancuernas</h2>     
        <p>y codos abiertos</p>
        <p>4x12</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img/pressTriceps.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Press de banca</h2>   
        <p>4x12</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  </ion-content>
