ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
}

//ion-content {
    //--background: linear-gradient(197deg, rgb(175, 174, 174) 0%, rgb(184, 182, 182) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
 // }