
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style="text-align-last: center;" >Home</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <section text-center margin-bottom style="text-align: center">
  
     <h1 style="font-size:1.4em,"  no-margin >Bienvenido, <br>
      Elige tu opcion</h1>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
       
          <ion-icon name="person" ></ion-icon>
          <h3>perfil</h3>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon name="people" ></ion-icon>
          <h3>Grupos</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon name="location-outline" style="font-size: 5em;" routerLink="/geolocaizacion"></ion-icon>
          <h3>Ubicacion</h3>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon name="barbell-outline" style=" font-size: 5em;" routerLink="/gimnasios"></ion-icon>
          <h3>Gimnasios</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon name="file-tray-stacked-outline" style=" font-size: 5em;" routerLink="/procesos"></ion-icon>
          <h3>Procesos</h3>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card text-center padding color="primary">
            <ion-icon name="cash-outline" style=" font-size: 5em;"></ion-icon>
            <h3>Pagos</h3>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>