<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Rutinas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/crear-datos-admin"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <div style="float: right;">
      <ion-button (click)="addItem()" color="success">
      <ion-icon name="create" ></ion-icon>
      &nbsp; Add
      </ion-button>
  </div>
  <br>
  <br>
  <br>
  
    <ion-list *ngFor="let item of detalle">
  
      <ion-item-sliding>
   
       <ion-item >
       {{item.descripcion}}
       </ion-item>
   
       <ion-item-options>
        <button danger (click)="goEditInfo(item.id_TipoRutina)"><ion-icon name="reader"></ion-icon> Modify</button>&nbsp;
         <button danger (click)="removeItem(item.id_TipoRutina)"><ion-icon name="trash"></ion-icon> Delete</button>
       </ion-item-options>
     </ion-item-sliding>
   
     </ion-list>
  
     <div class="Container">
      <div class="SubContainer">
        
      </div>
    </div>
  

</ion-content>
